<div id="master-css">


  <div id="extra-menu">
    <div>Ultimos Post</div>
    <a class="twitter-timeline" href="https://twitter.com/iverlandth" data-widget-id="260443202719449088">Tweets por @iverlandth</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>




  <ul id="control">
    <li class="a"><div>En construcción</div>

      <%=  image_tag "Ruby_Programming_Icons_by_3nc.jpg", :size=>"560x480", :border=>"0" %>

    </li>

    <li class="b"><div>En construcción</div>
      <%=  image_tag "bf_frontpage.png", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="c">       <div>En construcción</div>
      <%=  image_tag "heroku-Logo-1.jpg.scaled1000.jpg", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="d"><div>En construcción</div>
      <%=  image_tag "Python-Programming-Language.png", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="e"><div>En construcción</div>
      <%=  image_tag "descarga.jpg", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="f"><div>En construcción</div>
      <%=  image_tag "kanji_ai.gif", :size=>"560x480", :border=>"0" %>
    </li>
    <div id="tick-lamp"></div>
  </ul>
</div>