<div id="master-css">


  <ul id="control">
    <li class="a"><div>RoR<%= link_to " Guias", :controller=> :main , :action=> :sieapp %></div>

      <%=  image_tag "Ruby_Programming_Icons_by_3nc.jpg", :size=>"560x480", :border=>"0" %>

    </li>

    <li class="b"><div>Perspectiva</div>
      <%=  image_tag "jobs-banner-img.jpg", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="c">       <div>Lenguajes de programación</div>
      <%=  image_tag "img_kv.gif", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="d"><div>Feedback</div>
      <%=  image_tag "img_kv (1).gif", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="e"><div>Meet up</div>
      <%=  image_tag "img_kv (2).gif", :size=>"560x480", :border=>"0" %>
    </li>

    <li class="f"><div>Game</div>
      <%=  image_tag "majo-banner.png", :size=>"560x480", :border=>"0" %>
    </li>
    <div id="tick-lamp"></div>
  </ul>
</div>
<br>
  <center>
<%= image_tag "top3rd_04_11.jpg" %></center><br><br><br><br><br><br><br><br>