<div id="readme" class="blob instapaper_body">
  <article itemprop="mainContentOfPage"><h1>
    <a name="inicio" class="anchor" href="#inicio"><span class="mini-icon mini-icon-link"></span></a>Inicio</h1>

    <p>Cuando programas una computadora, necesitas "hablar" en la forma que tu
      computadora entienda: un lenguaje de programación. Existen diferentes
      lenguajes y muchos de ellos son excelentes. En esta guía voy a
      usar mi lenguaje de programación favorito: <em>Ruby</em>.</p>

    <p>Además de ser mi favorito, Ruby es también el lenguaje más fácil de
      aprender que he visto (y eso que he visto unos cuantos). De hecho, esa es
      mi verdadera motivación para escribir esta guía: No decidí escribir una
      guía y luego escogí Ruby porque es mi lenguaje favorito; fue la simplicidad
      de Ruby lo que me motivó a escribirla (Escribir una guía similar en otro
      lenguaje, como C++ o Java, hubiese requerido cientos y cientos de
      páginas). ¡Pero no creas que Ruby es un lenguaje para principiantes sólo
      porque es fácil! Es un lenguaje poderoso y de calibre profesional, si es
      que existe alguno así.</p>

    <p>Cuando escribes algo en un lenguaje humano, lo que se escribe es texto.
      Cuando escribes algo en un lenguaje de computadora, lo que se escribe es
      <em>código</em>. He incluido muchos ejemplos de código Ruby en esta
      guía, muchos de ellos son programas completos que puedes ejecutar en tu
      equipo. Para hacer el código más fácil de leer, he marcado partes del
      código de distintos colores y formatos.</p>

    <p>Si encuentras algo que no entiendas o si tienes una pregunta que no has
      podido resolver, ¡escríbela y sigue leyendo! Es posible que la respuesta
      llegue en un capítulo posterior. Sin embargo, si tu pregunta no ha sido
      resuelta al finalizar la guía, te voy a mostrar donde preguntar. Hay
      muchas personas dispuestas a ayudar; sólo necesitas saber donde están.</p>

    <p>Pero primero necesitas descargar e
      <%= link_to "instalar Ruby ", :controller => :others, :action => :iror %>
      en tu computadora. Para
      instalar Ruby, puedes seguir las siguientes guías:</p>

    <h2>
      <a name="%C3%8Dndice" class="anchor" href="#%C3%8Dndice"><span class="mini-icon mini-icon-link"></span></a>Índice
    </h2>

    <ol>
      <li>
        <%= link_to "Números", :controller => :ruby, :action => "numeros" %>.
      </li>
      <li>
        <%= link_to "Textos", :controller => :ruby, :action => "textos" %>
        .
      </li>
      <li>
        <%= link_to "Variables", :controller => :ruby, :action => "variables" %>.
      </li>
      <li>
        <%= link_to "Conversiones", :controller => :ruby, :action => "conversiones" %>
        .
      </li>
      <li>
        <%= link_to "Acerca de métodos", :controller => :ruby, :action => "metodos" %>
        .
      </li>
      <li>
        <%= link_to "Control de flujo", :controller => :ruby, :action => "controldeflujo" %>
        .
      </li>
      <li>
        <%= link_to "Matrices", :controller => :ruby, :action => "matrices" %>
        .
      </li>
      <li>
        <%= link_to "Métodos propios", :controller => :ruby, :action => "metodospropios" %>
        .
      </li>
      <li>
        <%= link_to "Clases", :controller => :ruby, :action => "clases" %>.
      </li>
      <li>
        <%= link_to "Bloques y procedimientos", :controller => :ruby, :action => "bloquesyprocesos" %>
        .
      </li>

    </ol>


    <p>¡Eso es todo! Estás listo para
      <%= link_to "comenzar", :controller => :ruby, :action => "numeros" %>.</p></article>
</div>