<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @contacto.nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @contacto.email %>
</p>

<p>
  <b>Asunto:</b>
  <%= @contacto.asunto %>
</p>

<p>
  <b>Mensaje:</b>
  <%= @contacto.mensaje %>
</p>


<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
