<h2>Ruby on Rails (RoR) </h2>
<p>
<ul>
  <li><%= link_to "Instalación ", :controller=> :others , :action=> :iror %> </li>
  <li><%= link_to "Primera aplicación", :controller=> :others , :action=> :sieapp %></li>
  <li><%= link_to "Ruby", :controller=> :ruby , :action=> :inicio %></li>
  <li><%= link_to "Github con RoR", :controller => :others, :action => "git" %></li>
</ul>
</p>
<br>
<h2>Lenguajes de programación </h2>
<p>
<ul>
  <li><%= link_to "Php(codeigniter)", :controller=>:others, :action=>"phpcodeigniter" %></li>
  <li><%= link_to "Android(curso audio visual)", :controller=>:others, :action=>"and" %></li>
</ul>
</p>