<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title> Iverlandth | Dosis de Ruby on Rails, tecnologia y cosas aleatorias</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>

<div id="footerp">
  <ul id="lava-menu">
    <li><a href="https://github.com/iverlandth" target="_blank">Git Hub</a></li>
    <li id="fb"><a href="https://www.facebook.com/kyoir" target="_blank">Facebook</a></li>
    <li id="tw"><a href="http://twitter.com/iverlandth" target="_blank">Twitter</a></li>
    <li><%=  mail_to "me@domain.com", "Contact", :encode => "hex" %></li>
    <li><%=  link_to "Blog" %></li>
    <div class="cont-l">
      <div id="lavalamp"></div>
    </div>
  </ul>
  <h1><%= link_to "Iverlandth (イヴェール)", root_path  %></h1>
  <h4> Dósis de Ruby on Rails, tecnología y demás </h4>

  <hr>
  <p>
    &#169; 2012-2013 - Designed By <a href='http://twitter.com/iverlandth' target="_blank">@iverlandth</a>.

  </p>

</div>
</html>
