<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="index, follow"/>
  <meta name="keywords" content="Android, móviles, programación, Market, curso, online, Ruby, Rails, tecnologia"/>
  <meta name="description" content="Rails: Programación Aplicaciones para móviles, curso online android y ruby"/>

  <title> Iverlandth | Dosis de Ruby on Rails, tecnologia y demás</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="icononav">

  <ul class="links">
    <li>
      <a class="delay <%= 'active' if controller_name == "blog" %>" href="/blog/index"><span class="delay glyphicon glyphicon-dashboard"></span> Blog</a>
    </li>
    <li>
      <a class="delay <%= 'active' if controller_name =~ /tutorials|ruby|others/ %>" href="/tutorials/index"><span class="delay glyphicon glyphicon-book"></span>Projects</a>
      <span class="alert badge">6</span>
    </li>
    <li>
      <a class="delay <%= 'active' if controller_name == "contacts" %>" href="/contacts/new"><span class="delay glyphicon glyphicon-comment"></span> Contacts</a>
    </li>
    <li>
      <a class="delay <%= 'active' if controller_name == "about" %>" href="/about/index"><span class="delay glyphicon glyphicon-user"></span> About</a>
    </li>
    <!--<li><a class="delay" href="#"><span class="delay glyphicon glyphicon-globe"></span> Social</a></li>-->
  </ul>
  <ul class="links lower">
    <li><a class="" href="/"><span>Iverlandth</span></a></li>
  </ul>

</nav>

<div class="container">
  <%= yield %>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38346573-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
