<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <meta name="viewport" content="width=device-width"/>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Android, móviles, programación, Market, curso, online, Ruby, Rails, tecnologia" />
  <meta name="description" content="Rails: Programación Aplicaciones para móviles, curso online android y ruby" />


  <title> Iverlandth | Dosis de Ruby on Rails, tecnologia y demás</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38346573-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body>
<%= yield %>

</body>

<div id="footerp">
  <ul id="lava-menu">
    <li><a href="https://github.com/iverlandth" target="_blank">Git Hub</a></li>
    <li id="fb"><a href="https://www.facebook.com/kyoir" target="_blank">Facebook</a></li>
    <li id="tw"><a href="http://twitter.com/iverlandth" target="_blank">Twitter</a></li>
    <li id="gps"><a href=" https://plus.google.com/109531977658543006082" target="_blank">Google +</a></li>

    <li><%= mail_to "iverherlandth@gmail.com", "Contact", :encode => "hex" %></li>
    <li><%= link_to "Blog" %></li>
    <div class="cont-l">
      <div id="lavalamp"></div>
    </div>
  </ul>
  <h1><%= link_to "Iverlandth (イヴェール)", root_path %></h1>
  <h4> Dósis de Ruby on Rails, tecnología y demás </h4>

  <hr>

  <p>
    <script language=JavaScript src="http://server01.contadorwap.com/hitv2.php?id=1c6252897fb0233ff404a00eec8fe7de&s=14&tipo=grafico&t=1358226232"></script>
    <script>var _uox = _uox || {};(function() {var s=document.createElement("script");
        s.src="http://static.usuarios-online.com/uo.js";document.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <a href="http://usuarios-online.com/es/stats/2d8b74df67dea2e4a75bdcad15a0f03b" target="_blank" id="uox_link"
       rel="2d8b74df67dea2e4a75bdcad15a0f03b">Usuarios Online</a>


    &#169; 2012-2013 - Designed By <a href='http://twitter.com/iverlandth' target="_blank">@iverlandth</a>.

  </p>

</div>
</html>
